<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% if is_edit %}게시글 수정{% else %}새 글 작성{% endif %}</title>
</head>
<body>
    <h2>{% if is_edit %}게시글 수정{% else %}새 글 작성{% endif %}</h2>
    <form method="post">
        {% csrf_token %}
        {{ form.as_p }}
        <button type="submit">{% if is_edit%}수정 완료{% else%}등록{% endif %}</button>
    </form>
    <a href="{% url 'post_list' %}">목록으로</a>
</body>
</html>
